html {
	width: 512px;
}
body {
	font-family: "Times New Roman", "Arial", sans-serif;
	background-color: lightyellow;
}
header {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}
div {
	margin: 10px auto;
}
img {
	width: 180px;
	height: 180px;
}
p, ul {
	margin: 5px;
}
th, td {
	padding: 5px;
	border: 1px solid black;
}
table {
	//border: 1px solid black;
	border-collapse: collapse;
}
.contacts table {
	margin: 47px auto;
}
.my_img {
	float: left;
	margin-top: 30px;
	text-align: right;
	width: 50%;
	height: 200px;
}
.contacts {
	float: left;
	width: 50%;
	height: 200px;
}
.mycv {
	clear: both;
}